:root {
  --clr-navy: #21374A;
  --clr-navy-light: #395174;
  --clr-navy-dark: #1b3145;
  --clr-gold: #BB9A3F;
  --clr-gold-light: #E9CB6B;
  --clr-black: #181818;
  --clr-black-light: #202020;
  --clr-orange: #f1b307;
  --clr-orange-light: #e6c019;

  --clr-error: #ff4e4e;

  --font-clr: #fff;
  --font-face-head: 'Montserrat', sans-serif;
  --font-face-content: 'Montserrat', sans-serif;

  --side-padding: 16px;
}